.side_bar {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    background: #151515;
    
}

ul {
    list-style-type: none;
}
.title_up_side_bar{
    font-family: 'Exo';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;
color: #5FE19B;
}

.up_side_bar {
    font-family: 'Exo';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height:14px;
color: #FFFFFF;
}
.logo_sb [svg] {
    color: #5FE19B;
}

.logo_tx {
    display: flex;
    align-items: center;
    line-height: 17px;

}
li, p {
    padding-left: 8px;
  }