header {
    background: linear-gradient(180deg, #5fe19b 0%, #36B972 50%, #0EA152 100%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 23px;
}
.Logo {
    width: 293px;
    height: 60px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.log_out {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #FFFFFF;
    padding-right: 16px;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 40px;
    align-items: center;
}

input {
    border: none;
    outline: none;
    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #939393;
    width: 100%;
}

.searchbar {
    display: flex;
    align-items: center;
    width: 362px;
    height: 47px;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 4px;
}

.wrapper_searchbar {
    display: flex;
    align-items: center;
}

section {
    background: #151515
}

.title_text_bh {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 0px;
    color: #FFFFFF;
}

.p_text_bh {
font-family: 'Exo';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 0px;
color: #FFFFFF;
}

.dark_mode {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.info_below_header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 19px 27px 0px 27px;
}

.cambio_vista {
    display: flex;
    align-items: center;
}

.text_bh {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.right_below_header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.disabled {
    padding-left: 24px;
}

.dm {
    padding-left: 13px;
}